{% load FilterTagsSupChat %}
{% load static %}
<style>
    @font-face {
        font-family: 'KalameBlack';
        src: url("{% static 'supchat/font/Kalameh_Black.woff' %}");
    }

    @font-face {
        font-family: 'MjCasablancaHeavy';
        src: url("{% static 'supchat/font/Mj-Casablanca-Heavy.woff' %}");
    }

    @font-face {
        font-family: 'Vazir';
        src: url("{% static 'supchat/font/Vazir-Regular.woff' %}");
    }

</style>
<link rel="stylesheet" href="{% static 'supchat/font_awesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'supchat/css/base.css' %}">
<button id="ButtonOpenSupChat">
    <i class="fa fa-comments"></i>
</button>
<div id="SupChat" state="close">
    <div id="ContainerBaseSupChat">
        <button id="BtnCloseSupChat">
            <i class="fa fa-times"></i>
        </button>
        <div id="ContainerSectionsButton" class="ContainerSupChat">
            <header>
                لطفا بخش مورد نظر خود را انتخاب کنید
            </header>
            {% for Section in Sections %}
                <button id="SectionButton-{{ Section.id }}" section-button="{{ forloop.counter0 }}">
                    {{ Section.title }}
                </button>
            {% endfor %}
        </div>
        <div id="ContainerChatMessagesSupChat" class="ContainerSupChat">
            <header>
                <h2 class="TitleSupportChat">پشتیبانی</h2>
                <p id="NameSectionChat"></p>
            </header>
            <main style="background: url('{{ SupChat.style.get_background_chat }}')">
                {% for Section in Sections %}
                    <div id="MessagesSupChat-{{ Section.id }}" section-id="{{ Section.id }}"
                         section-title="{{ Section.title }}" class="MessagesSupChat">
                        {% for Message in Section|get_messages_sup_chat_by_user:request %}
                            {% if Message.sender == 'section' %}

                            {% else %}
                                <div class="MessageSupChat" sender-message="you">
                                    <div class="ContentMessage">
                                        <header>
                                            <div>
                                                <b class="NameSenderMessage">You</b>
                                            </div>
                                            <div>
                                                <button class="BtnShowMoreOptionMessage">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </button>
                                                <div class="MoreOptionMessage">
                                                    <div class="OptionMessage">
                                                        <p class="NameSenderMessage">{{ Message.chat.user.get_full_name }}</p>
                                                        <img src="{{ Message.chat.user.get_image }}"
                                                             alt="{{ Message.chat.user.get_full_name }}">
                                                    </div>
                                                    <button class="OptionMessage">
                                                        <p>ویرایش</p>
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="OptionMessage">
                                                        <p>حذف</p>
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </header>
                                        <main>
                                            {% if Message.type == 'text' %}
                                                <pre>{{ Message.text }}</pre>
                                            {% endif %}
                                        </main>
                                        <footer>
                                            <div class="TimeSentMessage">
                                                {{ Message.get_time }}
                                            </div>
                                            <div>
                                                {% if Message.seen == True %}
                                                    <i class="far fa-check-double" message-seen="true"></i>
                                                {% else %}
                                                    <i class="far fa-check" message-seen="false"></i>
                                                {% endif %}
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </main>
            <footer>
                <textarea id="InputTextMessageSupChat" type="text" placeholder="پیام . . ."></textarea>
                <div>
                    <button id="ButtonRecordVoiceSupChat">
                        <i class="fa fa-microphone"></i>
                    </button>
                </div>
                <div>
                    <button id="ButtonSendMessageTextSupChat">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 32 32">
                            <path d="M27.45,15.11l-22-11a1,1,0,0,0-1.08.12,1,1,0,0,0-.33,1L7,16,4,26.74A1,1,0,0,0,5,28a1,1,0,0,0,.45-.11l22-11a1,1,0,0,0,0-1.78Zm-20.9,10L8.76,17H18V15H8.76L6.55,6.89,24.76,16Z"/>
                        </svg>
                    </button>
                </div>
            </footer>
        </div>
        <div></div>
    </div>
</div>

<script>
    window.CSRF_TOKEN = '{{ csrf_token }}'
</script>
<script>

    let ButtonOpenSupChat = document.getElementById('ButtonOpenSupChat')
    ButtonOpenSupChat.addEventListener('click', function () {
        SUP_CHAT.toggleContainerSupChat('open')
    })

    let BtnCloseSupChat = document.getElementById('BtnCloseSupChat')
    BtnCloseSupChat.addEventListener('click', function () {
        SUP_CHAT.toggleContainerSupChat('close')
    })

    let ButtonSendMessageTextSupChat = document.getElementById('ButtonSendMessageTextSupChat')
    ButtonSendMessageTextSupChat.addEventListener('click', function () {
        let stateActive = this.getAttribute('active') || 'false'
        if (stateActive == 'true') {
            SUP_CHAT.sendMessageText(InputTextMessageSupChat.value)
        }
    })

    let InputTextMessageSupChat = document.getElementById('InputTextMessageSupChat')
    InputTextMessageSupChat.addEventListener('input', function () {
        let value = this.value
        if (value.trim() != '') {
            ButtonSendMessageTextSupChat.setAttribute('active', 'true')
        } else {
            ButtonSendMessageTextSupChat.setAttribute('active', 'false')
        }
    })


</script>
<script src="{% static 'supchat/js/base.js' %}"></script>
<script>


    let SUP_CHAT = new ChatUser()

    let AllMessagesSupChat = document.getElementsByClassName('MessagesSupChat')
    for (let Container of AllMessagesSupChat) {
        let idSection = Container.getAttribute('section-id')
        let titleSection = Container.getAttribute('section-title')
        new Section({
            'id': idSection,
            'title': titleSection,
            'container': Container
        })
    }
</script>















