/*
    --Element--Field
    --Element__Child
    --Element-Pseudo--Field
*/
:root {
    /* Loading */
    --Loading--color: rgb(46, 143, 242);
    /* SupChat */
    --SvgSupChat__text__stroke: #18ebdc;
    --SupChat--border: #eee;
    --SupChat--boxshadow: rgba(170, 170, 170, 0.2);
    --BtnOpenSupChat--background: #22348f;
    --BtnOpenSupChat--color: #fff;
    --BtnOpenSupChat--boxshadow: rgba(175, 175, 175, 0.3);
    --ContainerSectionButton__header--color: #333;
    --ContainerSectionButton__header--borderbottom: none;
    --SectionButton--border: #f96265;
    --SectionButton--boxshadow: rgba(188, 188, 188, 0.2);
    --SectionButton--color: #f96265;
    --SectionButton-hover--background: #f96265;
    --SectionButton-hover--color: #fff;
    --HeaderSupChat--background: rgb(34, 52, 143);
    --HeaderSupChat--borderbottom: #f4f4f4;
    --HeaderSupChat--boxshadow: red;
    --ContainerStatusUser--background: none;
    --ContainerStatusUser--border: none;
    --ContainerStatusUser--boxshadow: none;
    --StatusUserChat--color: #CCD1E4;
    --ContainerStatusUser__span--background_online: #1af1ab;
    --ContainerStatusUser__span--background_offline: #ff5751;
    --TitleSupportChat--color: #FEECE9;
    --ContainerChatMessagesSupChat__p--color: #CCD1E4;
    --MessageSupChat-webkit-scrollbar-track--background: #f1f1f1;
    --MessageSupChat-webkit-scrollbar-thumb--background: rgb(255, 163, 154);
    --MessageSupChat-webkit-scrollbar-thumb--background-hover: #eb9289;
    --FooterSupChat--background: linear-gradient(360deg, rgba(47, 255, 242, 0.2), #ffffff);
    --FooterSupChat--bordertop: #f0f0f0;
    --FooterSupChat--boxshadow: rgba(238, 238, 238, 0.3);
    --VoiceIsRecordingSupChat--background: #fff;
    --VoiceIsRecordingSupChat--border: rgba(238, 238, 238, 1);
    --BtnCancelVoiceSupChat__svg--fill:orangered;
    --BtnSendVoiceSupChat__svg--fill:#0861ff;
    --BtnRecordVoiceSupChat__svg--fill:#00c7aa;
    --BtnSendMessageTextSupChat_disable:#a2a2a2;
    --BtnSendMessageTextSupChat_active:#007b66;
    --MessageSupChat__ContentMessage--background:#fff;
    --MessageSupChat__ContentMessage--boxshadow:rgba(170, 170, 170, 0.2);
    --MessageSupChat__ContentMessage--border:rgba(240, 240, 240, 0.3);
    --NameSenderMessage--color:#bbb;
    --MessageSupChat__pre--color:#444;
    --TimeSentMessage--color:#888;
    --BtnShowMoreOptionMessage__i--color:#bbb;
    --MoreOptionMessage--background:#fff;
    --MoreOptionMessage--boxshadow: rgba(176, 176, 176, 0.4);
    --MoreOptionMessage--border: #ddd;
    --OptionMessage--borderbottom: #eee;
    --OptionMessage-hover--background: #f7f7f7;
    --OptionMessage__DateTimeSendMessage--color: #aaa;
    --BtnScrollToBottomSection__i--color:#00CED1;
    --SuggestedMessagesSupChat__div_open--background:#fff;
    --SuggestedMessagesSupChat__div_open--boxshadow:rgba(85, 85, 85, 0.15);
    --BtnToggleSuggestedMessages--background:#ff8874;
    --BtnToggleSuggestedMessages__i--color:#fff;
    --SuggestedMessage--background:#fff;
    --SuggestedMessage--color:#f96265;
    --SuggestedMessage--border:#f96265;
    --SuggestedMessage--background-hover:#f96265;
    --SuggestedMessage--color-hover:#fff;
}

#MainSupChat{
    background: rgb(41, 65, 192) !important;
}