/*
    --Element--Field
    --Element__Child
    --Element-Pseudo--Field
*/
:root {
    /* Loading */
    --Loading--color: rgb(15, 241, 203);
    /* SupChat */
    --SvgSupChat__text__stroke: #10e1c9;
    --SupChat--border: #eee;
    --SupChat--boxshadow: rgba(170, 170, 170, 0.2);
    --BtnOpenSupChat--background: #19ffdd;
    --BtnOpenSupChat--color: #fff;
    --BtnOpenSupChat--boxshadow: rgba(175, 175, 175, 0.3);
    --ContainerSectionButton__header--color: #333;
    --ContainerSectionButton__header--borderbottom: #eee;
    --SectionButton--border: #f96265;
    --SectionButton--boxshadow: rgba(188, 188, 188, 0.2);
    --SectionButton--color: #f96265;
    --SectionButton-hover--background: #f96265;
    --SectionButton-hover--color: #fff;
    --HeaderSupChat--background: linear-gradient(180deg, rgba(47, 255, 242, 0.2), #ffffff);
    --HeaderSupChat--borderbottom: #f4f4f4;
    --HeaderSupChat--boxshadow: 0 3px 6px rgba(238, 238, 238, 0.6);
    --ContainerStatusUser--background: #fff;
    --ContainerStatusUser--border: #fafafa;
    --ContainerStatusUser--boxshadow: rgba(208, 224, 211, 0.2);
    --StatusUserChat--color: #666;
    --ContainerStatusUser__span--background_online: #1af1ab;
    --ContainerStatusUser__span--background_offline: #ff5751;
    --TitleSupportChat--color: #ff734a;
    --TitleDefaultMessageSupChat--color:#ff734a;
    --ContainerChatMessagesSupChat__p--color: #666;
    --MessageSupChat-webkit-scrollbar-track--background: #f1f1f1;
    --MessageSupChat-webkit-scrollbar-thumb--background: rgb(255, 106, 91);
    --MessageSupChat-webkit-scrollbar-thumb--background-hover: rgb(226, 86, 66);
    --FooterSupChat--background: linear-gradient(360deg, rgba(47, 255, 242, 0.2), #ffffff);
    --FooterSupChat--bordertop: #f0f0f0;
    --FooterSupChat--boxshadow: 0 -1px 4px rgba(238, 238, 238, 0.3);
    --VoiceIsRecordingSupChat--background: #fff;
    --VoiceIsRecordingSupChat--border: rgba(238, 238, 238, 1);
    --BtnCancelVoiceSupChat__svg--fill:orangered;
    --BtnSendVoiceSupChat__svg--fill:#0861ff;
    --BtnRecordVoiceSupChat__svg--fill:#00c7aa;
    --BtnSendMessageTextSupChat_disable:#a2a2a2;
    --BtnSendMessageTextSupChat_active:#007b66;
    --MessageSupChat__ContentMessage--background: #fffffb;
    --MessageSupChat__ContentMessage--boxshadow:rgba(170, 170, 170, 0.3);
    --MessageSupChat__ContentMessage--border: rgba(228, 228, 228, 0.5);
    --NameSenderMessage--color:#aaa;
    --MessageSupChat__pre--color:#444;
    --TimeSentMessage--color:#888;
    --BtnShowMoreOptionMessage__i--color:#bbb;
    --MoreOptionMessage--background:#fff;
    --MoreOptionMessage--boxshadow: rgba(176, 176, 176, 0.4);
    --MoreOptionMessage--border: #ddd;
    --OptionMessage--borderbottom: #eee;
    --OptionMessage-hover--background: #f7f7f7;
    --OptionMessage__DateTimeSendMessage--color: #aaa;
    --BtnScrollToBottomSection__i--color:#00CED1;
    --SuggestedMessagesSupChat__div_open--background:#fff;
    --SuggestedMessagesSupChat__div_open--boxshadow:rgba(85, 85, 85, 0.15);
    --BtnToggleSuggestedMessages--background:#ff8874;
    --BtnToggleSuggestedMessages__i--color:#fff;
    --SuggestedMessage--background:#fff;
    --SuggestedMessage--color:#f96265;
    --SuggestedMessage--border:#f96265;
    --SuggestedMessage--background-hover:#f96265;
    --SuggestedMessage--color-hover:#fff;
}

#MainSupChat{
    /*background: url image background;*/
}



