.DisabledAllElementsExceptLoadingNotification *:not( .LoadingNotification):not(.LoadingNotification_Icon):not(.LoadingNotification_Text):not(.NotificationMessage):not(.NotificationMessage *) {
    filter: brightness(80%) blur(2px);
}

.BlurAllElementsExceptMessage_Alert > :not(.ContainerMessage_Alert) {
    filter: blur(8px);
}

.cursor-pointer {
    cursor: pointer;
}

.SvgSupChat {
    width: 100%;
    height: 100%;
}

.SvgSupChat text {
    stroke: #18ebdc;
    font-size: 20px;
    stroke-width: 1.5px;
    fill: transparent;
    animation: SvgSupChatAnimation 5s forwards;
}

@keyframes SvgSupChatAnimation {
    from {
        stroke-dasharray: 0 70%;
    }
    to {
        stroke-dasharray: 50% 0;
        stroke-dashoffset: 10%;
        fill: #18ebdc;
    }
}


#ContainerNotificationsMessage {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 9999999;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.NotificationMessage {
    position: relative;
    padding: 4px;
    margin: 15px 10px;
    width: 300px;
    box-shadow: 0 5px 8px rgba(148, 148, 148, 0.1);
    direction: rtl;
    text-align: center;
    border-radius: 4px;
    transition: all 1s;
    background: #ffffff;
    animation: ShowNotification_Animation_1 .3s;
}

.Notification_Removed {
    animation: Animation_Notification_Removed .25s forwards;
}

@keyframes Animation_Notification_Removed {
    100% {
        transform: translateX(-300px);
        opacity: 0;
    }
}

@keyframes ShowNotification_Animation_1 {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

.LevelOfNecessity_1 {
    width: 250px;
}

.LevelOfNecessity_1 p {
    font-size: 90%;
}

.LevelOfNecessity_2 {
    width: 280px;
}

.LevelOfNecessity_2 p {
    font-size: 95%;
}

.LevelOfNecessity_3 {
    width: 330px;
}

.LevelOfNecessity_3 p {
    font-size: 100%;
}

.LevelOfNecessity_4 {
    width: 350px;
}

.LevelOfNecessity_4 p {
    font-size: 110%;
}

.LevelOfNecessity_5 {
    width: 400px;
}

.LevelOfNecessity_5 p {
    font-size: 120%;
}

.NotificationMessage p {
    margin: 0;
    margin-top: 2px;
    padding-bottom: 20px;
}

.IconNotification {
    position: absolute;
    left: 7px;
    top: 7px;
    font-size: 110%;
}

.IconNotification_Success {
    color: #1af196;
}

.IconNotification_Error {
    color: #f15368;
}

.IconNotification_Warning {
    color: #ffaf07;
}

.BtnCloseNotification {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    text-align: right;
    display: block !important;
    font-size: 95%;
    cursor: pointer;
    transform: rotate(0) !important;
    color: #ff7e79;
}

.BtnCloseNotification:hover {
    color: #ff0c00;
}

.NotificationSuccess {
    box-shadow: 0 3px 1px #1af196;
}

.NotificationSuccess p {
    color: #17c3b2;
}

.NotificationError {
    box-shadow: 0 3px 1px #f15368;
}

.NotificationError p {
    color: #ff4558;
}

.NotificationWarning {
    border: 1px solid rgba(255, 209, 51, 0.35);
    box-shadow: 0 3px 1px #ffaf07;
}

.NotificationWarning p {
    color: #ffaf07;
}

.Success {
    box-shadow: 0 0 3px #17c3b2;
    color: #17c3b2;
}

.Success p {
    color: #17c3b2;
}

.Alert {
    box-shadow: 0 0 3px #ff4558;
    color: #ff4558;
}

.Alert p {
    color: #ff4558;
}

.Error {
    box-shadow: 0 0 3px #ff4558;
    color: #ff4558;
}

.Error p {
    color: #ff4558;
}

.Warning {
    box-shadow: 0 0 3px #ffd070;
}

.Warning p {
    color: #e0bc5e;
}


.ContainerLoadingEffect {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    z-index: 9;
}

.LoadingCircle {
    display: block;
    height: 50px;
    width: 50px;
    animation: Animation_LoadingCircle-1 3s linear infinite;
}

@keyframes Animation_LoadingCircle-1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.LoadingCircle span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: inherit;
    width: inherit;
    clip: rect(25px, 50px, 50px, 0);
    animation: Animation_LoadingCircle-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@keyframes Animation_LoadingCircle-2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.LoadingCircle span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: inherit;
    width: inherit;
    border: 4px solid transparent;
    border-top: 4px solid var(--Loading--color);
    border-radius: 50%;
    animation: Animation_LoadingCircle-3 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@keyframes Animation_LoadingCircle-3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.LoadingCircle span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: inherit;
    width: inherit;
    border: 4px solid var(--Loading--color);
    border-radius: 50%;
}

#SupChat {
    direction: rtl;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /*max-height: 95vh;*/
    font-size: 16px !important;
    border: 1px solid var(--SupChat--border);
    box-shadow: 0 3px 12px var(--SupChat--boxshadow);
    background: #fff;
    transition: all .2s;
    border-radius: 10px;
    overflow: hidden;
    z-index: 999999;
}

#SupChat[state='close'] {
    overflow: hidden;
}

#SupChat[state='open'] #ContainerBaseSupChat {
    width: 420px;
    height: 630px;
}

#ContainerBaseSupChat {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: inherit;
}

#SupChat button {
    background: none;
    border: none;
    outline: none;
}

.ContainerSupChat {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

[ContainerSupChatShow] {
    z-index: 5;
    display: flex;
}

#BtnCloseSupChat {
    position: absolute;
    left: 8px;
    top: 8px;
    padding: 0;
    cursor: pointer;
    z-index: 10;
}

#BtnCloseSupChat > svg {
    width: 24px;
    height: 24px;
    fill: #ff3f2d;
}

#DefaultMessageOutSideSupChat {
    position: fixed;
    bottom: 85px;
    right: 85px;
    background: #ff6258;
    color: #fff;
    padding: 5px;
    font-size: 110%;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 3px 15px rgba(156, 156, 156, 0.4);
    transform: translateY(-5px);
    transition: all .5s;
    animation: AnimationButtonOpenChat 6s infinite;
}

#DefaultMessageOutSideSupChat::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -4px;
    right: -5px;
    border-top: 10px solid transparent;
    border-left: 20px solid #ff6258;
    border-bottom: 10px solid transparent;
    transform: rotate(-64deg);
    border-radius: 3px;
}

#DefaultMessageOutSideSupChat > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#DefaultMessageOutSideSupChat > div > * {
    margin: 7px;
}

#DefaultMessageOutSideSupChat p {
    font-family: Vazir;
}

.DefaultMessageOutSideSupChatHide{
    opacity: 0!important;
    visibility: hidden!important;
}

#DefaultMessageOutSideSupChat:hover #DefaultMessageOutSideSupChatClose {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#DefaultMessageOutSideSupChatClose:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#DefaultMessageOutSideSupChatClose {
    position: absolute;
    top: -35px;
    right: 0;
    width: 50px;
    text-align: right;
    padding: 5px;
    background: none;
    border: none;
    color: #ff4b5c;
    font-size: 120%;
    opacity: 0;
    visibility: hidden;
    transition: all .25s;
    transform: translateY(10px);
}

#ButtonOpenSupChat {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 55px;
    height: 55px;
    padding: 10px;
    border-radius: 12px;
    background: var(--BtnOpenSupChat--background);
    color: var(--BtnOpenSupChat--color);
    box-shadow: 0 8px 12px var(--BtnOpenSupChat--boxshadow);
    border: none;
    outline: none;
    z-index: 1;
    transform: translateY(-5px);
    transition: all .5s;
    animation: AnimationButtonOpenChat 6s infinite;
}

#ButtonOpenSupChat i {
    font-size: 170%;
}

#ButtonOpenSupChat:hover {
    border-radius: 15px;
}

@keyframes AnimationButtonOpenChat {
    50% {
        transform: translateY(5px);
    }
}

#ContainerSectionsButton {
    flex-direction: column;
    background: transparent;
    width: 100%;
}

#ContainerSectionsButton header {
    text-align: center;
    padding: 15px 7px;
    font-size: 130%;
    font-family: 'KalameBlack';
    color: var(--ContainerSectionButton__header--color);
    border-bottom: 1px solid var(--ContainerSectionButton__header--borderbottom);
}

#ContainerSectionsButton main {
    margin-top: 50px;
    overflow: auto;
}

#ContainerSectionsButton footer {
    margin-top: auto;
    height: 60px;
}

[section-button] {
    display: block;
    padding: 10px 8px;
    margin: 20px auto;
    width: 60%;
    min-width: 230px;
    font-family: 'Vazir';
    border-radius: 7px;
    border: 1px solid var(--SectionButton--border) !important;
    box-shadow: 0 2px 12px var(--SectionButton--boxshadow);
    color: var(--SectionButton--color);
    transition: all .3s;
}

[section-button]:hover {
    background: var(--SectionButton-hover--background) !important;
    color: var(--SectionButton-hover--color);
}

#ContainerChatMessagesSupChat {
    position: absolute;
    bottom: 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}


/*#ContainerChatMessagesSupChat[ContainerSupChatShow] {
    display: flex;
}*/

#HeaderSupChat {
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: right;
    background: var(--HeaderSupChat--background);
    padding: 6px;
    height: 83px;
    border-bottom: 1px solid var(--HeaderSupChat--borderbottom);
    box-shadow: var(--HeaderSupChat--boxshadow);
}


.ContainerInfoSectionChat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ImagesListAdminSection {
    position: relative;
    height: 30px;
    left: 0;
    margin-right: 50px;
}

.ImageAdminSection {
    display: inline-block !important;
    width: 22px;
    height: 22px;
    background: #fff;
    background-size: cover !important;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    left: 0;
    object-fit: cover;
    border: 1px solid #f0f0f0;
    transition: all .2s;
}

.ImageAdminSection:hover {
    z-index: 2;
    width: 30px;
    height: 30px;
    border-radius: 30%;
}

.ImageAdminSection:nth-child(2) {
    left: 10px;
}

.ImageAdminSection:nth-child(3) {
    left: 20px;
}

.ImageAdminSection:nth-child(4) {
    left: 30px;
}

.ContainerStatusUser {
    background: var(--ContainerStatusUser--background);
    text-align: center;
    border-radius: 10px;
    min-width: 70px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px var(--ContainerStatusUser--boxshadow);
    border: 1px solid var(--ContainerStatusUser--border);
}

#StatusUserChat {
    font-size: 70% !important;
    margin: 0 0 0 10px !important;
    color: var(--StatusUserChat--color) !important;
}

.ContainerStatusUser span {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.ContainerStatusUser[status='is_typing'] span {
    background: var(--ContainerStatusUser__span--background_online);
}

.ContainerStatusUser[status='is_typing'] #StatusUserChat {
    position: relative;
}

.ContainerStatusUser[status='is_typing'] #StatusUserChat:after {
    content: "";
    animation: Effect_Is_Typing_SupChat 2s infinite;
}

@keyframes Effect_Is_Typing_SupChat {
    33% {
        content: " . ";
    }
    66% {
        content: " .. ";
    }
    99% {
        content: " ... ";
    }
}

.ContainerStatusUser[status='online'] span {
    background: var(--ContainerStatusUser__span--background_online);
}

.ContainerStatusUser[status='offline'] span {
    background: var(--ContainerStatusUser__span--background_offline);
}

.ContainerStatusUser[status='default'] span {
    display: none;
}

.TitleSupportChat {
    color: var(--TitleSupportChat--color);
    font-family: 'KalameBlack';
    padding-top: 5px;
}

#ContainerChatMessagesSupChat p {
    margin: 0;
    margin-right: 4px;
    margin-top: -5px;
    padding: 0;
    font-size: 85%;
    color: var(--ContainerChatMessagesSupChat__p--color);
    font-family: 'Vazir';
}

#ContainerChatMessagesSupChat > main {
    height: calc(100% - 60px - 83px);
    padding: 25px 0;
}

.MessagesSupChat {
    height: 100%;
    overflow: auto;
    display: none;
}

.MessagesSupChat::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    border-radius: 50px;
}

.MessagesSupChat::-webkit-scrollbar-track {
    background: var(--MessageSupChat-webkit-scrollbar-track--background);
    border-radius: 50px;
}

.MessagesSupChat::-webkit-scrollbar-thumb {
    background: var(--MessageSupChat-webkit-scrollbar-thumb--background);
    border-radius: 50px;
}

.MessagesSupChat::-webkit-scrollbar-thumb:hover {
    background: var(--MessageSupChat-webkit-scrollbar-thumb--background-hover);
}

[ContainerMessagesShow] {
    display: block;
}

#FooterSupChat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 4;
    height: 60px;
    padding: 5px 10px;
    background: var(--FooterSupChat--background);
    border-top: 1px solid var(--FooterSupChat--bordertop);
    box-shadow: var(--FooterSupChat--boxshadow);
}

#FooterSupChat p {
    margin: 0;
    padding: 0;
}

#BtnsSendMessageFooterSupChat {
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 85px;
    margin-top: 5px;
    margin-left: 20px;
}

#BtnsSendMessageFooterSupChat > button {
    margin: 5px;
}

#TextEditedFooterSupChat {
    position: absolute;
    padding: 7px 12px;
    width: 100%;
    bottom: 100%;
    right: 0;
    z-index: 4;
    display: none;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dddddd;
}

#TextEditedFooterSupChat i {
    color: #ff8f81;
}

#TextEditedFooterSupChat p {
    color: #999999;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

#VoiceIsRecordingSupChat {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    width: 65%;
    background: var(--VoiceIsRecordingSupChat--background);
    border: 1px solid var(--VoiceIsRecordingSupChat--border);
    font-size: 97%;
    border-radius: 20px 5px 5px 20px;
    /*animation: AnimationVoiceIsRecording 8s infinite;*/
}

@keyframes AnimationVoiceIsRecording {
    0% {
        border-radius: 50px 12px 5px 40px;
    }
    20% {
        border-radius: 30px 20px 36px 70px;
    }
    40% {
        border-radius: 9px 70px 10px 90px;
    }
    60% {
        border-radius: 30px 20px 46px 9px;
    }
    80% {
        border-radius: 12px 50px 26px 72px;
    }
    100% {
        border-radius: 50px 12px 5px 40px;
    }
}

#VoiceInSendingSupChat {
    display: none;
    width: 90%;
    margin: auto;
    margin-top: 3px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

#VoiceSendOrCancelSupChat {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}

#VoiceSendOrCancelSupChat p {
    display: inline-block;
}

#VoiceSendOrCancelSupChat button {
    margin: auto 5px;
    margin-top: 4px;
}

#ValueVoiceIsRecordedSupChat {
    margin-right: 8px !important;
}


[button-cancel-voice-supchat] svg {
    fill: var(--BtnCancelVoiceSupChat__svg--fill);
    width: 23px;
    height: 23px;
}

[button-send-voice-supchat] {
    transform: rotateY(180deg);
}

[button-send-voice-supchat] svg {
    width: 24px;
    height: 24px;
    fill: var(--BtnSendVoiceSupChat__svg--fill);
}

@keyframes AnimationButtonVoiceIsRecording {
    0% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;
    }
}

#FooterSupChat[section-active]:not([section-active='default']) #InputTextMessageSupChat {
    display: none;
}

#FooterSupChat[section-active]:not([section-active='default']) #ButtonSendMessageTextSupChat {
    display: none;
}

#FooterSupChat[section-active='edit-text-message'] #TextEditedFooterSupChat {
    display: flex;
}

#FooterSupChat[section-active='edit-text-message'] #BtnsSendMessageFooterSupChat {
    display: block !important;
    width: auto !important;
    text-align: center;
}

#FooterSupChat[section-active='edit-text-message'] #ButtonSendMessageTextSupChat {
    display: block !important;
}

#FooterSupChat[section-active='edit-text-message'] #InputTextMessageSupChat {
    display: block !important;
}

#FooterSupChat[section-active='edit-text-message'] #ButtonRecordVoiceSupChat {
    display: none;
}

#FooterSupChat[section-active='recording-voice'] #VoiceIsRecordingSupChat {
    display: flex;
}

#FooterSupChat[section-active='recording-voice'] #ButtonRecordVoiceSupChat {
    animation: AnimationButtonVoiceIsRecording 2s infinite;
}

#FooterSupChat[section-active='voice-send-or-cancel'] {
    justify-content: center;
}

#FooterSupChat[section-active='voice-send-or-cancel'] #BtnsSendMessageFooterSupChat {
    display: none;
}

#FooterSupChat[section-active='voice-send-or-cancel'] #VoiceSendOrCancelSupChat {
    display: flex;
}

#FooterSupChat[section-active='voice-send-or-cancel'] #ButtonRecordVoiceSupChat {
    display: none;
}

#FooterSupChat[section-active='voice-sending'] #BtnsSendMessageFooterSupChat {
    display: none;
}

#FooterSupChat[section-active='voice-sending'] #VoiceInSendingSupChat {
    display: flex;
}

#FooterSupChat[section-active='voice-sending'] #ButtonRecordVoiceSupChat {
    display: none;
}


/* Loader 1 */

.VoiceInSendingSupChatLoading {
    height: 32px;
    width: 32px;
    -webkit-animation: VoiceInSendingSupChat 4.8s linear infinite;
    animation: VoiceInSendingSupChat 4.8s linear infinite;
}

@-webkit-keyframes VoiceInSendingSupChat {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes VoiceInSendingSupChat {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.VoiceInSendingSupChatLoading span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    clip: rect(0, 32px, 32px, 16px);
    -webkit-animation: loader-1-2 1.2s linear infinite;
    animation: loader-1-2 1.2s linear infinite;
}

@-webkit-keyframes loader-1-2 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(220deg);
    }
}

@keyframes loader-1-2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(220deg);
    }
}

.VoiceInSendingSupChatLoading span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    clip: rect(0, 32px, 32px, 16px);
    border: 3px solid var(--Loading--color);
    border-radius: 50%;
    -webkit-animation: loader-1-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    animation: loader-1-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@-webkit-keyframes loader-1-3 {
    0% {
        -webkit-transform: rotate(-140deg);
    }
    50% {
        -webkit-transform: rotate(-160deg);
    }
    100% {
        -webkit-transform: rotate(140deg);
    }
}

@keyframes loader-1-3 {
    0% {
        transform: rotate(-140deg);
    }
    50% {
        transform: rotate(-160deg);
    }
    100% {
        transform: rotate(140deg);
    }
}

#InputTextMessageSupChat {
    width: 60%;
    height: 50px;
    max-height: 100%;
    padding-top: 7px;
    font-size: 100%;
    font-family: 'Vazir';
    background: none;
    border: none;
    outline: none;
    resize: none;
}

#InputTextMessageSupChat::placeholder {
    color: #444444;
}

#InputTextMessageSupChat::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

#InputTextMessageSupChat::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#InputTextMessageSupChat::-webkit-scrollbar-thumb {
    background: #aaa;
}

#InputTextMessageSupChat::-webkit-scrollbar-thumb:hover {
    background: #777;
    cursor: default;
}


#ButtonRecordVoiceSupChat svg {
    fill: var(--BtnRecordVoiceSupChat__svg--fill);
    width: 26px;
    height: 26px;
}

#ButtonSendMessageTextSupChat {
    cursor: default;
    vertical-align: bottom;
    margin-bottom: 5px !important;
}

#ButtonSendMessageTextSupChat svg {
    fill: var(--BtnSendMessageTextSupChat_disable);
    width: 26px;
    height: 26px;
    transform: rotateY(180deg);
}

#ButtonSendMessageTextSupChat[active='true'] {
    cursor: pointer;
}

#ButtonSendMessageTextSupChat[active='true'] svg {
    fill: var(--BtnSendMessageTextSupChat_active);
}


/*   Message  */

.MessageSupChat {
    font-size: 100%;
}

.MessageSupChat .ContentMessage {
    background: var(--MessageSupChat__ContentMessage--background);
    border: 1px solid var(--MessageSupChat__ContentMessage--border);
    box-shadow: 0 2px 3px var(--MessageSupChat__ContentMessage--boxshadow);
    margin: 5px 10px;
    border-radius: 12px;
    padding: 5px 9px;
    max-width: 75%;
    min-width: 180px;
    position: relative;
    display: inline-block;
}

.ContentMessage > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[icon-message-edit] {
    display: none;
    font-size: 70%;
    color: #aaa;
}

.MessageSupChat[message-edited] [icon-message-edit] {
    display: inline-block;
}

[message-seen='false'] {
    color: #aaa;
    font-size: 90%;
}

[message-seen='true'] {
    color: #46d8e9;
    font-size: 90%;
}

.NameSenderMessage {
    color: var(--NameSenderMessage--color) !important;
    font-size: 80% !important;
}

.ContentMessage header > div > .NameSenderMessage {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ContentMessage > main {
    margin: 5px;
    text-align: right;
    display: block;
    width: 95%;
}

.ContentMessage > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ContentMessage > footer div {
    display: inline-block;
}


.DefaultMessage .NameSenderMessage {
    font-size: 110% !important;
    color: var(--TitleDefaultMessageSupChat--color) !important;
    margin-top: 5px !important;
    font-family: KalameBlack !important;
}

.DefaultMessage pre {
    color: #888;
    text-align: justify;
}


/* Content Message */

.MessageSupChat pre {
    color: var(--MessageSupChat__pre--color);
    border: none;
    font-size: 90%;
    line-height: 27px;
    white-space: pre-line;
    font-family: 'Vazir';
    word-break: break-word;
    padding: 1px;
    height: auto;
    background: none;
}

.MessageSupChat audio {
    width: 200px;
}

.TimeSentMessage {
    font-size: 75%;
    color: var(--TimeSentMessage--color);
}

.BtnShowMoreOptionMessage i {
    color: var(--BtnShowMoreOptionMessage__i--color);
    font-size: 75%;
}

.BtnShowMoreOptionMessage:hover + div {
    display: block;
}

.BtnShowMoreOptionMessage:focus + div {
    display: block;
}

.MoreOptionMessage {
    display: none;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 3;
    width: 100%;
    max-width: 250px;
    background: var(--MoreOptionMessage--background);
    box-shadow: 0 0 8px var(--MoreOptionMessage--boxshadow);
    border: 1px solid var(--MoreOptionMessage--border);
    border-radius: 5px;
    transition: all .15s;
    overflow: auto;
    cursor: pointer;
}

.MoreOptionMessage:hover {
    display: block;
}

.OptionMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--OptionMessage--borderbottom) !important;
    cursor: default;
}

.OptionMessage i.fa-trash {
    color: #ff7064;
}

.OptionMessage i.fa-edit {
    color: #47bfff;
}

button.OptionMessage:hover {
    background: var(--OptionMessage-hover--background) !important;
}

.OptionMessage:last-of-type {
    border-bottom: none !important;
}

.OptionMessage img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.OptionMessage .DateTimeSendMessage {
    font-size: 70% !important;
    text-align: center;
    width: 100%;
    color: var(--OptionMessage__DateTimeSendMessage--color) !important;
}

[sender-message="you"] {
    text-align: right !important;
}

[sender-message="other"] {
    text-align: left !important;
}

.d-none {
    display: none !important;
}

.BtnScrollToBottomSection {
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: 90px;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    transform: translateY(15px);
}

.BtnScrollToBottomSection[state='active'] {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.BtnScrollToBottomSection i {
    color: var(--BtnScrollToBottomSection__i--color);
    font-size: 155%;
}

.SuggestedMessagesSupChat {
    position: absolute;
    padding: 0;
    bottom: 60px;
    right: 0;
    z-index: 4;
    overflow: hidden;
    text-align: right;
}

.SuggestedMessagesSupChat div {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all .2s;
    overflow-x: auto;
}

.SuggestedMessagesSupChat div::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.SuggestedMessagesSupChat div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eee;
    background: #eee;
    border-radius: 10px;
}

.SuggestedMessagesSupChat div::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 10px;
}

.SuggestedMessagesSupChat[state='open'] {
    width: 100%;
}

.SuggestedMessagesSupChat[state='open'] div {
    padding: 12px 10px;
    width: 100%;
    height: auto;
    white-space: nowrap;
    background: var(--SuggestedMessagesSupChat__div_open--background);
    box-shadow: 0 -2px 7px var(--SuggestedMessagesSupChat__div_open--boxshadow);
}

.ButtonToggleSuggestedMessages {
    background: var(--BtnToggleSuggestedMessages--background) !important;
    border-radius: 8px 0 0 8px;
    padding-left: 7px;
    text-align: center;
    transition: all .2s;
}

.ButtonToggleSuggestedMessages i {
    color: var(--BtnToggleSuggestedMessages__i--color);
}

.ButtonToggleSuggestedMessages[state='close'] i {
    transform: rotate(180deg);
}

.SuggestedMessage {
    border-radius: 14px;
    padding: 8px 30px;
    margin: 0 2px;
    background: var(--SuggestedMessage--background) !important;
    font-family: Vazir;
    color: var(--SuggestedMessage--color);
    border: 1px solid var(--SuggestedMessage--border) !important;
    font-size: 85%;
}

.SuggestedMessage:hover {
    background: var(--SuggestedMessage--background-hover) !important;
    color: var(--SuggestedMessage--color-hover);
}


/* Responsive */

@media screen and (max-width: 768px) {
    #SupChat[state='open'] {
        width: 100%;
        height: 100%;
        bottom: 0 !important;
        right: 0 !important;
        border-radius: 0;
    }

    #SupChat[state='open'] #ContainerBaseSupChat {
        width: 100%;
        height: 100%;
    }

    #InputTextMessageSupChat {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    #InputTextMessageSupChat {
        width: auto;
        min-width: 65%;
    }
}

@media screen and (max-width: 400px) {
    #InputTextMessageSupChat {
        min-width: 68%;
    }
}

@media screen and (max-width: 330px) {
    #InputTextMessageSupChat {
        min-width: auto;
    }
}