
button {
    outline: none !important;
}


#SupChat {
    font-family: VazirMatn;
    position: fixed;
    right: 18px;
    bottom: 18px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #e4eeeb;
    box-shadow: 0 3px 15px rgba(191, 191, 191, 0.6);
    z-index: 10;
    transition: all .3s;
}

#SupChat[state='open'] {
    width: 370px;
    height: 600px;
    overflow: auto;
}

#SupChat > div {
    display: none;
}

#SupChatStart {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#SupChatContent {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#SupChatContent[container-show] {
    display: flex;
}

#SupChatLoading[container-show] {
    display: block;
}

#SupChatStart[container-show] {
    display: flex;
}

#SupChatStart header {
    text-align: right;
    height: 55px;
    padding: 10px 8px;
    border-bottom: 1px solid #eee;
}

#SupChatStart > main {
    height: calc(100% - 55px - 55px);
    overflow: auto;
    padding: 10px 0;
}

#SupChatStart > main img {
    /* set inline */
    /*width: 45%;*/
    height: auto;
    margin: auto;
    display: block;
}

#SupChatStart > footer {
    text-align: center;
    height: 55px;
}

#SupChatStart > footer a {
    display: inline-block;
}

#SupChatContent > header {
    margin: 0 auto;
    width: 100%;
    height: 95px;
}

.content-header-supchat {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    margin: auto;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    direction: ltr;
}

#image-user-chat-supchat {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #ffffff;
}

.info-chat-supchat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-chat-supchat > div {
    margin-right: 20px;
}

.info-chat-supchat p {
    margin: 0;
}

.container-status-user-chat-supchat {
    display: inline-block;
    position: absolute;
    height: 23px;
    padding: 3px;
    margin-left: -19px;
    transform: translateY(33px);
    transition: all .35s;
}

#last-seen-info-chat-supchat {
    display: inline-block;
    background: #fff;
    border-radius: 15px 30px 30px 15px;
    font-size: 70%;
    width: 0;
    height: 20px;
    padding-top: 2px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    word-spacing: .5px;
    visibility: hidden;
    vertical-align: top;
    transition: all .35s;
}

#status-online-info-chat-supchat {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: inline-block;
}

.container-status-user-chat-supchat:hover {
    background: #fff;
    border-radius: 30px;
}

.container-status-user-chat-supchat:hover #last-seen-info-chat-supchat {
    visibility: visible;
    width: 130px;
}

#status-online-info-chat-supchat:hover + * {
    visibility: visible;
    width: 130px;
}

#status-online-info-chat-supchat[state='online'] {
    background: #00ffa1;
}

#status-online-info-chat-supchat[state='offline'] {
    background: #ff4359;
}

#name-user-info-chat-supchat {
    color: #fff;
    font-size: 105%;
}

#name-section-info-chat-supchat {
    color: #eee;
    font-size: 85%;
}

#btn-more-option-chat-supchat {
    border: none;
    background: none;
    font-size: 160%;
    color: #006ae1;
}

#container-more-options-chat-supchat {
    background: #fff;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    position: absolute;
    width: 160px;
    right: 35px;
    top: 35px;
    box-shadow: 0 2px 8px rgba(100, 100, 100, 0.6);
    transform: translateX(10px);
    transition: all .25s;
}

#btn-more-option-chat-supchat:focus + #container-more-options-chat-supchat {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

#container-more-options-chat-supchat:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

#container-more-options-chat-supchat > * {
    width: 100%;
    padding: 10px !important;
}

#btn-end-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    font-size: 90%;
    padding: 6px 10px;
    border-radius: 2px;
    background: inherit;
    color: #ff5353;
    transition: all .2s;
}

#btn-end-chat i {
    transition: inherit;
    font-weight: bold;
}

#btn-end-chat:hover {
    color: #ff252d;
}


#SupChatContent > main {
    width: 100%;
    height: calc(100% - 95px - 70px);
    direction: rtl;
    background: #f7f7f7;
}

#supchat-messages-chat {
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 20px 10px;
}

#supchat-messages-chat::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    border-radius: 50px;
}

#supchat-messages-chat::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 50px;
}

#supchat-messages-chat::-webkit-scrollbar-thumb {
    background: rgba(29, 238, 191, 0.8);
    border-radius: 50px;
}


#supchat-messages-chat::-webkit-scrollbar-thumb:hover {
    background: rgb(29, 226, 179);
}


#container-suggested-messages-supchat {
    display: none;
}


#btn-scroll-down-chat-supchat {
    position: absolute;
    bottom: 85px;
    left: 10px;
    width: 33px;
    height: 33px;
    color: #00d2c2;
    background: rgba(226, 226, 226, 0.8);
    padding-bottom: 4px;
    border-radius: 50%;
    font-size: 180%;
    border: none;
    transform: translateY(-10px);
    transition: all .2s;
}

#btn-scroll-down-chat-supchat[state="hide"] {
    visibility: hidden;
    opacity: 0;
}

#btn-scroll-down-chat-supchat[state="show"] {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

#SupChatContent > footer {
    width: 100%;
    border-top: 1px solid #eee;
    background: #fff;
    height: 70px;
}

#content-footer-supchat {
    width: 100%;
    height: 100%;
    direction: ltr;
}

#content-footer-supchat > div {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 20px;
}

#content-footer-supchat p {
    margin: 0;
    display: inline-block;
    color: #777;
    font-size: 90%;
}

.container-btns-send-message-voice > button {
    margin: 0 1px;
}

#content-footer-supchat[container-active="send-message-main"] [container-type="send-message-main"] {
    display: flex;
}

#content-footer-supchat[container-active="voice-recording"] [container-type="voice-recording"] {
    display: flex;
}

#content-footer-supchat[container-active="voice-recording"] [container-type="send-message-main"] #input-message-supchat {
    display: none;
}

#content-footer-supchat[container-active="voice-recording"] [container-type="send-message-main"] {
    display: block;
    height: auto;
}

#content-footer-supchat[container-active="voice-recording"] [container-type="send-message-main"] #btn-send-message-supchat {
    display: none;
}

#content-footer-supchat[container-active="voice-recording"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content-footer-supchat[container-active="voice-recording"] p {
    margin: 0 6px;
    font-size: 85%;
    color: #777;
}

#time-voice-recording-supchat {
    margin: 0;
    font-size: 95%;
    color: #555 !important;
}

#content-footer-supchat[container-active="voice-send-or-cancel"] [container-type="voice-send-or-cancel"] {
    display: flex;
}

#content-footer-supchat[container-active="voice-sending"] [container-type="voice-sending"] {
    display: flex;
}

#btn-record-voice-supchat {
    border: none;
    background: none;
}

#btn-record-voice-supchat svg {
    width: 23px;
    fill: #006ae1;
}

#btn-send-message-supchat {
    border: none;
    background: none;
}

#btn-send-message-supchat svg {
    width: 23px;
    fill: #666;
    transform: rotate(-180deg);
}

#btn-send-message-supchat[state='true'] svg {
    fill: #00cdaa;
}

#input-message-supchat {
    text-align: right;
    border: 1px solid #e5e5e5;
    color: #333;
    font-size: 95%;
    outline: none;
    border-radius: 30px;
    padding: 7px;
    height: 47px;
    width: 70%;
    resize: none;
}

#input-message-supchat::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 30px;
}

#input-message-supchat::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 30px;
}

#input-message-supchat::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}

#btn-voice-cancel-supchat {
    background: none;
    border: none;
    transform: translateY(2px);
}

#btn-voice-cancel-supchat i {
    color: #ee524f;
    font-size: 120%;
}

#btn-send-voice-recorded-supchat {
    background: none;
    border: none;
    margin-right: 5px;
}

#btn-send-voice-recorded-supchat svg {
    width: 23px;
    fill: #00cdaa;
    transform: rotate(-180deg);
}


#BtnStartChatSupChat {
    width: 65%;
    margin: auto;
    margin-top: 30px;
    display: block;
    border-radius: 8px;
    border: none;
    background: #f5f5f5;
    color: #999;
    padding: 11px;
    font-size: 110%;
    font-family: VazirMatn;
    cursor: not-allowed;
    transition: all .35s;
}


#BtnStartChatSupChat[valid='true'] {
    background: linear-gradient(-20deg, #ff5b56, #ff6f77);
    box-shadow: 0 3px 10px rgba(255, 91, 86, 0.5);
    color: #fff;
    cursor: pointer;
}

#BtnStartChatSupChat[valid='true']:hover {
    box-shadow: 0 3px 3px rgba(255, 91, 86, 0.7);
}

#SupChatLoading {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    z-index: 2;
    background: rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(5px);
}

#SupChatLoading > div {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-supchat-intro {
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.title-supchat-intro text {
    stroke: #00ebd5;
    font-size: 17px;
    stroke-width: 1px;
    fill: transparent;
    animation: title-supchat-intro-animation 5s forwards;
}

@keyframes title-supchat-intro-animation {
    from {
        stroke-dasharray: 0 70%;
    }
    to {
        stroke-dasharray: 50% 0;
        stroke-dashoffset: 10%;
        fill: #00ebd5;
    }
}

.title-supchat-site {
    font-size: 140%;
    font-weight: bold;
    color: #333333;
}

#BtnOpenSupChat {
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 10px;
    padding: 10px;
    width: 55px;
    height: 55px;
    z-index: 1;
    border: none;
    box-shadow: 0 5px 9px #ddd;
    cursor: pointer;
    transition: all .4s;
    animation: AnimationBtnOpenChat 4s infinite;
}

#BtnOpenSupChat i {
    font-size: 160%;
}

#BtnOpenSupChat:hover {
    border-radius: 14px;
}

@keyframes AnimationBtnOpenChat {
    50% {
        transform: translateY(7px);
    }
}

#BtnCloseSupChat {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 130%;
    color: #ee4a4e;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9;
}


.container-message-supchat {
    margin: 7px 0;
}

.container-message-supchat[sender-type='you'] {
    text-align: right;
}

.container-message-supchat[sender-type='other'] {
    text-align: left;
}

.container-message-supchat[sender-type='you'] .content-message-supchat > main {
    border-radius: 15px 4px 15px 15px;
    padding: 6px;
    background: #1dcfbe;
    color: #fff;
    min-width: 120px;
}

.container-message-supchat[sender-type='other'] .content-message-supchat > main {
    border-radius: 4px 15px 15px 15px;
    padding: 6px;
    background: #e8e8e8;
    color: #444;
    min-width: 120px;
}

.container-message-supchat[sender-type='other'] {
    text-align: left;
}

.content-message-supchat {
    max-width: 75%;
    position: relative;
    display: inline-block;
}

.content-message-supchat pre {
    font-family: VazirMatn;
    white-space: pre-wrap;
    text-align: justify;
    color: inherit;
    margin: 0;
    padding: 2px;
    font-size: 94%;
    max-width: 92%;
    overflow: hidden;
}

.content-message-supchat > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 3px;
    color: #888;
}

.time-send-message-supchat {
    font-size: 70%;
}

.seen-message-supchat {
    display: inline-block;
    font-size: 75%;
}

.seen-message-supchat > i {
    display: none;
}

.seen-message-supchat [icon-seen-true] {
    color: #006ae1;
}

.icon-message-edited-supchat {
    font-size: 65%;
}

.content-message-supchat[edited='true'] .icon-message-edited-supchat {
    visibility: visible;
}

.content-message-supchat[edited='false'] .icon-message-edited-supchat {
    visibility: hidden;
}

.content-message-supchat[seen='true'] [icon-seen-true] {
    display: inline-block;
}

.content-message-supchat[seen='false'] [icon-seen-false] {
    display: inline-block;
}

.btn-show-more-options-message-supchat {
    position: absolute;
    top: 5px;
    left: 5px;
    background: none;
    border: none;
    color: #eee;
    font-size: 110%;
}

.btn-show-more-options-message-supchat:focus + .container-more-options-message-supchat {
    visibility: visible;
    opacity: 1;
}

.btn-show-more-options-message-supchat:active + .container-more-options-message-supchat {
    visibility: visible;
    opacity: 1;
}

.container-more-options-message-supchat {
    position: absolute;
    width: 150px;
    max-width: 100%;
    left: -10px;
    top: 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 4px #ddd;
    border: 1px solid #ddd;
    direction: ltr;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
    transition: all .2s;
}

.container-more-options-message-supchat button {
    width: 100%;
    background: none;
    border: none;
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    margin: 3px 0;
    font-size: 85%;
    transition: all .2s;
}


.container-more-options-message-supchat button[btn-delete-message]:hover i {
    color: #cf022b;
}


.container-more-options-message-supchat button[btn-edit-message]:hover i {
    color: #0988f0;
}


.container-more-options-message-supchat button:hover {
    background: #f6f6f6;
}


.container-more-options-message-supchat button:hover i {
    font-weight: bold;
}

.container-more-options-message-supchat p {
    margin: 0;
}

#container-effect-is-typing {
    transform: translateX(-10px);
    transition: all .3s;
}

#container-effect-is-typing[state='show'] {
    opacity: 1;
    transform: translateX(0);
}

#container-effect-is-typing[state='hide'] {
    opacity: 0;
    transform: translateX(-10px);
}

#container-effect-is-typing .content-message-supchat {
    text-align: center;
    padding: 5px;
}

#container-effect-is-typing .content-message-supchat main {
    min-width: 85px;
}

#container-effect-is-typing span {
    display: inline-block;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    margin: -2px 2px;
    background: #888;
}

#container-effect-is-typing span:nth-of-type(1) {
    animation: animation-effect-is-typing .8s linear infinite;
}

#container-effect-is-typing span:nth-of-type(2) {
    animation: animation-effect-is-typing .8s linear infinite;
    animation-delay: .2s;
}

#container-effect-is-typing span:nth-of-type(3) {
    animation: animation-effect-is-typing .8s linear infinite;
    animation-delay: .4s;
}

@keyframes animation-effect-is-typing {
    50% {
        transform: translateY(-5px);
        background: #666;
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 450px) {
    #SupChat[state='open'] {
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
        border-radius: 0;
    }
}

@media screen and (max-height: 605px) {
    #SupChat[state='open'] {
        height: calc(100% - 35px);
    }
}
