{% with chat.get_last_message as last_message %}
    <a class="chat-list content-message-supchat" id="chat-{{ chat.id }}" href="{{ chat.get_absolute_url }}"
       title="{{ chat.user.get_full_name }}"
            {% if last_message.sender == 'admin' %}
       seen="{{ last_message.seen|yesno:'true,false' }}"
            {% endif %}
       edited="{{ last_message.edited|yesno:'true,false' }}"

       sender-type="{{ last_message.sender }}"

       count-unread-message="{{ chat.get_count_unread_message_by_admin }}"
    >
        <img class="btn-circle" style="width: 60px;height: 60px;background: rgba(236,236,236,0.1)"
             src="{{ chat.user.get_image }}" alt="{{ chat.user.get_full_name }}">
        <div class="mail-contnet">
            <div>
                <p class="text-dark font-16 mb-0">{{ chat.user.get_full_name }}</p>
                <span container-message class="mail-desc"
                      style="font-size: 110%!important;">{{ last_message.get_text_lable }}</span>
                <span container-time class="time mt-2">{{ last_message.get_time }}</span>

                <span container-count-message>
                            <span>{{ chat.get_count_unread_message_by_admin }}</span>
                            <i class="fal fa-comment-plus"></i>
                </span>

                <div container-seen>
                    <i class="fal fa-check-double" icon-seen-true></i>
                    <i class="fal fa-check" icon-seen-false></i>
                </div>

                <i container-icon-edited
                   class="icon-message-edited-supchat fal fa-pen"></i>
            </div>
        </div>
    </a>
{% endwith %}
