<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav mt-4">
            <ul id="sidebarnav">
                <li><a class="waves-effect waves-dark" href="pages-profile.html" aria-expanded="false"><i
                        class="fal fa-comments-alt"></i><span class="hide-menu">گفت و گو ها</span></a>
                </li>
                <li><a class="waves-effect waves-dark" href="table-basic.html" aria-expanded="false"><i
                        class="fal fa-chart-bar"></i><span class="hide-menu">آمار ها</span></a>
                </li>
                <li><a class="waves-effect waves-dark" href="icon-fontawesome.html" aria-expanded="false"><i
                        class="fal fa-ban"></i><span class="hide-menu">مسدود شده ها</span></a>
                </li>
                <li><a class="waves-effect waves-dark" href="personal-info.html" aria-expanded="false"><i
                        class="fal fa-bell"></i><span class="hide-menu">اعلانات</span></a>
                </li>
                <li><a class="waves-effect waves-dark" href="personal-info.html" aria-expanded="false"><i
                        class="fal fa-info mr-1"></i><span class="hide-menu">اطلاعات شخصی</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="##" aria-expanded="false">
                        <i class="fal fa-sign-out"></i>
                        <span class="hide-menu">خروج</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
        <div class="container-title-supchat-intro">
            <a href="https://fazelmomeni.codevar.ir" target="_blank">
                <svg class="title-supchat-intro">
                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
                        SupChat
                    </text>
                    <p>Support Chat</p>
                </svg>
            </a>
        </div>
    </div>
    <!-- End Sidebar scroll-->
</aside>