{% load FilterTagsSupChat %}
{% load static %}
<style>
    @font-face {
        font-family: 'KalameBlack';
        src: url("{% static 'supchat/font/Kalameh_Black.woff' %}");
    }

    @font-face {
        font-family: 'MjCasablancaHeavy';
        src: url("{% static 'supchat/font/Mj-Casablanca-Heavy.woff' %}");
    }

    @font-face {
        font-family: 'Vazir';
        src: url("{% static 'supchat/font/Vazir-Regular.woff' %}");
    }
    {% if SupChat.config.show_last_seen == False %}
        .ContainerStatusUser{
            display: none!important;
        }
    {% endif %}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'supchat/font_awesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'supchat/css/base.css' %}">
<link rel="stylesheet" href="{% static 'supchat/audio_simple/style.css' %}">
{# Theme File #}
<link rel="stylesheet" href="{% static SupChat.style.theme %}">
<script src="{% static 'supchat/audio_simple/js.js' %}"></script>
<button id="ButtonOpenSupChat">
    <i class="fa fa-comments"></i>
</button>
{% if SupChat.config.default_message_outside_is_active %}
    <div id="DefaultMessageOutSideSupChat" show-after="{{ SupChat.config.default_message_outside_show_after }}" class="DefaultMessageOutSideSupChatHide">
        <button id="DefaultMessageOutSideSupChatClose">
            <i class="fa fa-times"></i>
        </button>
        <div>
            <i class="fa fa-headphones-alt"></i>
            <p>{{ SupChat.config.default_message_outside }}</p>
        </div>
        <audio src="{% static 'supchat/sound/1.mp3' %}" controls class="d-none"></audio>
    </div>
{% endif %}
<div id="SupChat" state="close">
    <div id="ContainerBaseSupChat">
        <button id="BtnCloseSupChat">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M13.41,12l6.3-6.29a1,1,0,1,0-1.42-1.42L12,10.59,5.71,4.29A1,1,0,0,0,4.29,5.71L10.59,12l-6.3,6.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l6.29,6.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"/>
            </svg>
        </button>
        <div id="ContainerSectionsButton" class="ContainerSupChat">
            <header>
                لطفا بخش مورد نظر خود را انتخاب کنید
            </header>
            <main>
                {% for Section in Sections %}
                    <button id="SectionButton-{{ Section.id }}" section-button="{{ forloop.counter0 }}">
                        {{ Section.title }}
                    </button>
                {% endfor %}
            </main>
            <footer>
                <svg class="SvgSupChat">
                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="cursor-pointer"
                          onclick="GoToUrl('https://fazelmomeni.codevar.ir')">
                        SupChat
                    </text>
                </svg>
            </footer>
        </div>
        <div id="ContainerChatMessagesSupChat" class="ContainerSupChat">
            <header id="HeaderSupChat">
                <div>
                    <h2 class="TitleSupportChat">{{ SupChat.title }}</h2>
                    <div class="ContainerInfoSectionChat">
                        <p id="NameSectionChat"></p>
                        {% for Section in Sections %}
                            <div id="ImagesListAdminSection-{{ Section.id }}" class="d-none ImagesListAdminSection">
                                <span class="ImageAdminSection" style="z-index: 0;"></span>
                                {% for Admin in Section.get_last_two_admins %}
                                    <span class="ImageAdminSection"
                                          style="background-image: url('{{ Admin.get_image }}')"
                                          title="{{ Admin.get_full_name }}"></span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ContainerStatusUser" status="default">
                    <p id="StatusUserChat">-</p>
                    <span></span>
                </div>
            </header>
            <main id="MainSupChat" style="background: url('{{ SupChat.style.get_background_chat }}')">
                {% for Section in Sections %}
                    <div id="MessagesSupChat-{{ Section.id }}" section-id="{{ Section.id }}"
                         section-title="{{ Section.title }}" class="MessagesSupChat">
                        {% for Message in Section|get_messages_sup_chat_by_user:request %}
                            {% include 'Chat/User/message-chat-for-user.html' with Message=Message %}
                        {% empty %}
                            {% if SupChat.config.default_message_is_active %}
                                <div class="MessageSupChat DefaultMessage" sender-message="other">
                                    <div class="ContentMessage">
                                        <header>
                                            <div>
                                                <p class="NameSenderMessage">{{ SupChat.title }}</p>
                                            </div>
                                        </header>
                                        <main>
                                            <pre data-message="text">{{ SupChat.config.default_message }}</pre>
                                        </main>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% with Section.suggestedmessage_set.all as SuggesMessages %}
                            {% if SuggesMessages|ListIsNone == False %}
                                <div class="SuggestedMessagesSupChat" id="SuggestedMessagesSupChat-{{ Section.id }}">
                                    <button class="ButtonToggleSuggestedMessages"
                                            id="ButtonToggleSuggestedMessages-{{ Section.id }}"
                                            onclick="SUP_CHAT.toggleContainerSuggestedMessages('{{ Section.id }}')">
                                        <i class="fa fa-angle-double-left"></i>
                                    </button>
                                    <div>
                                        {% for SuggesMes in SuggesMessages %}
                                            <button class="SuggestedMessage" data-message="{{ SuggesMes.message }}"
                                                    onclick="SUP_CHAT.sendSuggestedMessage('{{ SuggesMes.message }}')">{{ SuggesMes.message }}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div id="BtnScrollToBottomSection-{{ Section.id }}" class="BtnScrollToBottomSection">
                            <i class="fas fa-arrow-circle-down"></i>
                        </div>
                    </div>
                {% endfor %}
            </main>
            <footer id="FooterSupChat">
                <div id="TextEditedFooterSupChat">
                    <p></p>
                    <i class="fa fa-times" onclick="SUP_CHAT.editMessageTextCanceled()"></i>
                </div>
                <textarea id="InputTextMessageSupChat" type="text"
                          placeholder="پیام . . ."></textarea>
                <div id="VoiceIsRecordingSupChat">
                    <p class="TitleVoiceIsRecording">
                        در حال ضبط صدا ...
                    </p>
                    <p id="ValueVoiceIsRecordingSupChat">0.0</p>
                </div>
                <div id="VoiceSendOrCancelSupChat">
                    <div>
                        <p>صدای ضبط شده</p>
                        <p id="ValueVoiceIsRecordedSupChat">0.0</p>
                    </div>
                    <div>
                        <button button-cancel-voice-supchat
                                onclick="SUP_CHAT.voiceRecordedCancel()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M13.41,12l6.3-6.29a1,1,0,1,0-1.42-1.42L12,10.59,5.71,4.29A1,1,0,0,0,4.29,5.71L10.59,12l-6.3,6.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l6.29,6.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"/>
                            </svg>
                        </button>
                        <button button-send-voice-supchat
                                onclick="SUP_CHAT.sendVoiceRecorded()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M20.34,9.32l-14-7a3,3,0,0,0-4.08,3.9l2.4,5.37h0a1.06,1.06,0,0,1,0,.82l-2.4,5.37A3,3,0,0,0,5,22a3.14,3.14,0,0,0,1.35-.32l14-7a3,3,0,0,0,0-5.36Zm-.89,3.57-14,7a1,1,0,0,1-1.35-1.3l2.39-5.37A2,2,0,0,0,6.57,13h6.89a1,1,0,0,0,0-2H6.57a2,2,0,0,0-.08-.22L4.1,5.41a1,1,0,0,1,1.35-1.3l14,7a1,1,0,0,1,0,1.78Z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div id="VoiceInSendingSupChat">
                    <p class="TitleVoiceIsRecording">
                        در حال ارسال
                    </p>
                    <div class="VoiceInSendingSupChatLoading"><span></span>
                    </div>
                </div>
                <div id="BtnsSendMessageFooterSupChat">
                    <button id="ButtonSendMessageTextSupChat">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M20.34,9.32l-14-7a3,3,0,0,0-4.08,3.9l2.4,5.37h0a1.06,1.06,0,0,1,0,.82l-2.4,5.37A3,3,0,0,0,5,22a3.14,3.14,0,0,0,1.35-.32l14-7a3,3,0,0,0,0-5.36Zm-.89,3.57-14,7a1,1,0,0,1-1.35-1.3l2.39-5.37A2,2,0,0,0,6.57,13h6.89a1,1,0,0,0,0-2H6.57a2,2,0,0,0-.08-.22L4.1,5.41a1,1,0,0,1,1.35-1.3l14,7a1,1,0,0,1,0,1.78Z"/>
                        </svg>
                    </button>
                    <button id="ButtonRecordVoiceSupChat">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M12,15a4,4,0,0,0,4-4V5A4,4,0,0,0,8,5v6A4,4,0,0,0,12,15ZM10,5a2,2,0,0,1,4,0v6a2,2,0,0,1-4,0Zm10,6a1,1,0,0,0-2,0A6,6,0,0,1,6,11a1,1,0,0,0-2,0,8,8,0,0,0,7,7.93V21H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2H13V18.93A8,8,0,0,0,20,11Z"/>
                        </svg>
                    </button>
                </div>
            </footer>
        </div>
    </div>
</div>

<script>
    window.CSRF_TOKEN = '{{ csrf_token }}'
</script>
<script src="{% static 'supchat/jq/jquery.min.js' %}"></script>
<script src="{% static 'supchat/js/base.js' %}"></script>
<script>
    let SUP_CHAT = new ChatUser()
    let AllMessagesSupChat = document.getElementsByClassName('MessagesSupChat')
    for (let Container of AllMessagesSupChat) {
        let idSection = Container.getAttribute('section-id')
        let titleSection = Container.getAttribute('section-title')
        new Section({
            'id': idSection,
            'title': titleSection,
            'container': Container
        })
    }
</script>















