{% extends 'SupChat/Base/BaseTemplateSupChat.html' %}
{% load static %}
{% load supchat_filter %}

{% block Title %}
    <title>SupChat Admin - {{ request.admin.get_full_name }}</title>
{% endblock %}

{% block Tags %}
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block Content %}
    <body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">SupChat</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'SupChat/Admin/components/header.html' %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'SupChat/Admin/components/menu.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles text-right" dir="rtl">
                    <div class="col-12 align-self-center">
                        <h2 class="text-themecolor">گفت و گو ها و بخش ها</h2>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Sales Chart and browser state-->
                <!-- ============================================================== -->
                {% for section in request.admin.get_sections %}
                    <div id="section-{{ section.id }}" class="section-chat row"
                         section-id="{{ section.id }}"
                         data-chart-count-chats="{{ section|get_data_chart_section_count_charts:request.admin }}">
                        <!-- Column -->
                        <div class="col-12">
                            <div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-block d-sm-flex mb-4 no-block text-right justify-content-between align-items-center col-12"
                                             dir="rtl">
                                            <h2 class="card-title mb-0 align-self-center">{{ section.title }}</h2>
                                            <a href="{{ section.get_absolute_url }}"
                                               class="btn btn-success d-block font-16 mt-4">
                                                <span>مشاهده گفت و گو ها</span>
                                                <i class="fal fa-angle-left pt-1 pr-2 font-20 font-weight-bold"></i>
                                            </a>
                                        </div>
                                        <div class="last-activity">
                                            <span>اخرین فعالیت شما :</span>
                                            <p> 3 روز پیش</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex no-block justify-content-between">
                                            <div>
                                                <ul class="list-inline text-center font-10">
                                                    <li><i class="fa fa-circle" style="color:rgb(78,213,213) "></i>
                                                        تعداد
                                                        گفت و گو ها
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h5 class="card-title mb-0">تعداد گفت و گو ها</h5>
                                            </div>
                                        </div>
                                        <div style="height: 300px!important;">
                                            <canvas id="section-chart-count-chats-{{ section.id }}"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- ============================================================== -->
                <!-- End Sales Chart -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Notification And Feeds -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Start Notification -->
                    <div class="col-lg-12 col-md-12">
                        <div class="card card-body mailbox">
                            <h5 class="card-title">Notification</h5>
                            <div class="message-center" style="height: 420px !important;">
                                <!-- Message -->
                                <a href="#">
                                    <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                    <div class="mail-contnet">
                                        <h6 class="text-dark font-medium mb-0">Luanch Admin</h6> <span
                                            class="mail-desc">Just see the my new admin!</span>
                                        <span class="time">9:30 AM</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#">
                                    <div class="btn btn-success btn-circle"><i class="fa fa-calendar-check-o"></i></div>
                                    <div class="mail-contnet">
                                        <h6 class="text-dark font-medium mb-0">Event today</h6> <span class="mail-desc">Just a reminder that you have
                                            event</span> <span class="time">9:10 AM</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#">
                                    <div class="btn btn-info btn-circle"><i class="fa fa-cog text-white"></i></div>
                                    <div class="mail-contnet">
                                        <h6 class="text-dark font-medium mb-0">Settings</h6> <span class="mail-desc">You can customize this template as you
                                            want</span> <span class="time">9:08 AM</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#">
                                    <div class="btn btn-primary btn-circle"><i class="fa fa-user"></i></div>
                                    <div class="mail-contnet">
                                        <h6 class="text-dark font-medium mb-0">Pavan kumar</h6> <span class="mail-desc">Just see the my admin!</span>
                                        <span
                                                class="time">9:02 AM</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#">
                                    <div class="btn btn-info btn-circle"><i class="fa fa-cog text-white"></i></div>
                                    <div class="mail-contnet">
                                        <h6 class="text-dark font-medium mb-0">Customize Themes</h6> <span
                                            class="mail-desc">You can customize this template as you
                                            want</span> <span class="time">9:08 AM</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#">
                                    <div class="btn btn-primary btn-circle"><i class="fa fa-user"></i></div>
                                    <div class="mail-contnet">
                                        <h6 class="text-dark font-medium mb-0">Pavan kumar</h6> <span class="mail-desc">Just see the my admin!</span>
                                        <span
                                                class="time">9:02 AM</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Notification -->
                </div>
                <!-- ============================================================== -->
                <!-- End Notification And Feeds -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'SupChat/Admin/components/footer.html' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    </body>
{% endblock %}

{% block Js %}
    <script>
        // ======================
        //      Init Charts
        let all_section = document.querySelectorAll('.section-chat')
        for (let section of all_section) {
            create_chart_section_count_chats(`${section.getAttribute('section-id')}`, section.getAttribute('data-chart-count-chats'))
        }
        //=======================
    </script>
    <script>
        {#const URL_BACKEND_SUPCHAT = 'http://127.0.0.1:8000'#}
        {#const URL_BACKEND_SUPCHAT = 'http://192.168.1.142:8002'#}
        {#const ROOT_URL_ASSETS_SUPCHAT = '/assets/'#}
        {#let _supchat_json = JSON.parse('{{ supchat|escapejs  }}')#}
        {#let _chat_json = JSON.parse('{{ chat|escapejs  }}')#}
        {#const SUP_CHAT = new ChatAdmin(_supchat_json, _chat_json)#}
        {#SUP_CHAT.run()#}
    </script>
{% endblock %}


