<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no">
    <title>SupChat V3</title>

</head>
<body>

<script>
    const URL_BACKEND_SUPCHAT = 'http://127.0.0.1:8000'
    const ROOT_URL_ASSETS_SUPCHAT = '/assets/'
    const AUTO_RUN_SUPCHAT = true // Default is true
</script>
<script src="/assets/supchat/js/mixins.js"></script>
<script src="/assets/supchat/js/easy_supchat.js"></script>
</body>
</html>