{% extends 'Chat/Base/BaseTemplateSupChat.html' %}


{% block Title %}

{% endblock %}


{% block Css %}
    <style>
        .MessagesSupChat {
            display: block !important;
        }

        .ContainerSupChat {
            display: block !important;
        }

        .MessageDeletedIcon {
            color: #aaaaaa;
            font-size: 80%;
            font-weight: normal;
        }

    </style>
{% endblock %}

{% block Content %}
    <div id="SupChat" state="open">
        <div id="ContainerBaseSupChat">
            {#            <button id="BtnCloseSupChat">#}
            {#                <i class="fa fa-times"></i>#}
            {#            </button>#}
            <div id="ContainerChatMessagesSupChat" class="ContainerSupChat">
                <header>
                    <h2 class="TitleSupportChat">پشتیبانی</h2>
                    <p id="NameSectionChat"></p>
                </header>
                <main style="background: url('{{ SupChat.style.get_background_chat }}')">
                    <div id="MessagesSupChat" class="MessagesSupChat">
                        {% for Message in Chat.get_messages_by_admin %}
                            {% if Message.sender == 'section' %}
                                <div class="MessageSupChat" sender-message="you">
                                    <div class="ContentMessage">
                                        <header>
                                            <div>
                                                <b class="NameSenderMessage">You</b>
                                            </div>
                                            <div>
                                                <button class="BtnShowMoreOptionMessage">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </button>
                                                <div class="MoreOptionMessage">
                                                    <div class="OptionMessage">
                                                        <p class="NameSenderMessage">{{ Message.section_user.get_full_name }}</p>
                                                        <img src="{{ Message.section_user.get_image }}"
                                                             alt="{{ Message.section_user.get_full_name }}">
                                                    </div>
                                                    <button class="OptionMessage">
                                                        <p>ویرایش</p>
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="OptionMessage">
                                                        <p>حذف</p>
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </header>
                                        <main>
                                            {% if Message.type == 'text' %}
                                                <pre>{{ Message.text }}</pre>
                                            {% endif %}
                                        </main>
                                        <footer>
                                            <div class="TimeSentMessage">
                                                {{ Message.get_time }}
                                            </div>
                                            <div>
                                                {% if Message.seen == True %}
                                                    <i class="fa fa-dobule-check" message-seen="true"></i>
                                                {% else %}
                                                    <i class="fa fa-check" message-seen="false"></i>
                                                {% endif %}
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            {% else %}
                                <div id="MessageSupChat" class="MessageSupChat" sender-message="other">
                                    <div class="ContentMessage">
                                        <header>
                                            <div>
                                                <p class="NameSenderMessage">{{ Message.chat.user.get_full_name }}</p>
                                            </div>
                                            <div>
                                                <button class="BtnShowMoreOptionMessage">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </button>
                                                <div class="MoreOptionMessage">
                                                    <div class="OptionMessage">
                                                        <p class="NameSenderMessage">{{ Message.chat.user.get_full_name }}</p>
                                                        <img src="{{ Message.chat.user.get_image }}"
                                                             alt="{{ Message.chat.user.get_full_name }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                        <main>
                                            {% if Message.type == 'text' %}
                                                <pre>{{ Message.text }}</pre>
                                            {% endif %}
                                        </main>
                                        <footer>
                                            <div class="TimeSentMessage">
                                                {{ Message.get_time }}
                                            </div>
                                            <div>
                                                {% if Message.deleted %}
                                                    <i class="fa fa-ban MessageDeletedIcon"></i>
                                                {% endif %}
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </main>
                <footer>
                    <textarea id="InputTextMessageSupChat" type="text" placeholder="پیام . . ."></textarea>
                    <div>
                        <button id="ButtonRecordVoiceSupChat">
                            <i class="fa fa-microphone"></i>
                        </button>
                    </div>
                    <div>
                        <button id="ButtonSendMessageTextSupChat">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 32 32">
                                <path d="M27.45,15.11l-22-11a1,1,0,0,0-1.08.12,1,1,0,0,0-.33,1L7,16,4,26.74A1,1,0,0,0,5,28a1,1,0,0,0,.45-.11l22-11a1,1,0,0,0,0-1.78Zm-20.9,10L8.76,17H18V15H8.76L6.55,6.89,24.76,16Z"/>
                            </svg>
                        </button>
                    </div>
                </footer>
            </div>
            <div></div>
        </div>
    </div>
{% endblock %}

{% block Js %}
    <script>
        ScrollToDownContainer(document.querySelector('#MessagesSupChat'))
    </script>
{% endblock %}