{% extends 'Chat/Base/BaseTemplateSupChat.html' %}
{% load FilterTagsSupChat %}
{% load static %}
{% block Title %}
    Dashboard - {{ Admin.get_full_name }}
{% endblock %}
{% block Link %}
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no'/>
    <link rel="stylesheet" href="{% static 'supchat/admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'supchat/admin/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'supchat/admin/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'supchat/admin/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'supchat/admin/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'supchat/admin/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'supchat/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'supchat/admin/css/style.css' %}">
    <link rel="icon" href="{% static 'supchat/logo/logo.png' %}">
{% endblock %}
{% block Content %}
    <div class="container-scroller">


        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper  d-lg-flex align-items-center justify-content-around fixed-top">
                <p class="p-0 m-0 text-light">{{ SupChat.title }}</p>
                <img src="{% static 'supchat/logo/logo.png' %}" style="width: 30px" alt="logo">
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " style="object-fit: cover"
                                     src="{{ Admin.get_image }}" alt="{{ Admin.get_full_name }}">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">{{ Admin.get_full_name }}</h5>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button type="button" id="profile-dropdown" class="btn" data-toggle="dropdown">
                                <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                                 aria-labelledby="profile-dropdown" role="menu">
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item preview-item" onclick="toggleNotification()">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-message-outline text-info"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1 text-small">Notification <i
                                                id="iconToggleNotification" class="fa fa-check"
                                                style="margin-left: 10px;"></i></p>
                                    </div>
                                </button>
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'SupChat:admin_signout' %}" class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1 text-small">Log out</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">منو</span>
                </li>
                <li class="nav-item menu-items {% if page_active == 'info' %}menu-items-active{% endif %}">
                    <a class="nav-link" href="{% url 'SupChat:admin_panel_info' %}">
                    <span class="menu-icon">
                        <i class="mdi mdi-information"></i>
                      </span>
                        <span class="menu-title">اطلاعات</span>
                    </a>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">بخش های پشتیبانی</span>
                </li>
                {% with Section as SectionSelected %}
                    {% for Section in Admin.get_sections %}
                        {% if Section|get_count_chats_by_admin:request.admin > 0 %}
                            <li class="nav-item menu-items menu-item-section {% if Section.id == SectionSelected.id %}menu-items-active{% endif %}">
                                <a class="nav-link" href="{{ Section.get_absolute_url_admin }}">
                                <span class="menu-icon">
                                <i class="mdi mdi-message"></i>
                              </span>
                                    <span class="menu-title">{{ Section.title }}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <img src="{% static 'supchat/logo/logo.png' %}" style="width: 30px" alt="logo">
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                            data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img class="img-xs rounded-circle" style="object-fit: cover"
                                         src="{{ Admin.get_image }}" alt="{{ Admin.get_full_name }}">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ Admin.get_full_name }}</p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="{% url 'SupChat:admin_panel_log' %}">
                                <div class="navbar-profile">
                                    <i class="mdi mdi-bell d-sm-block {% if Admin.has_log_message %}text-success{% else %}text-muted{% endif %}"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="{% url 'SupChat:admin_signout' %}" class="nav-link">
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small text-danger">Log out</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                            data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">

                    {% if page_active == 'dashboard' %}
                        <svg class="SvgSupChat">
                            <text x="0" y="98%">
                                SupChat
                            </text>
                        </svg>
                        <p class="text-muted text-small ml-2">Support Chat</p>
                    {% endif %}
                    {% if page_active == 'log_message' %}
                        <div class="row p-0">
                            <div class="col-12">
                                <div class="card px-2 px-sm-4 py-2 py-sm-4" style="min-height: 700px;max-height: 100vh">
                                    <div class="card-title text-right">
                                        <h3>اعلانات</h3>
                                    </div>
                                    <div class="card-body">
                                        {% for LogMessage in Admin.get_log_messages %}
                                            <div class="LogMessage">
                                                <header data-toggle="collapse"
                                                        data-target="#LogMessage-{{ LogMessage.id }}">
                                                    <div>{{ LogMessage.title }}</div>
                                                    <div class="text-muted text-small"
                                                         dir="ltr">{{ LogMessage.dateTimeSubmit|timesince }}</div>
                                                </header>
                                                <main id="LogMessage-{{ LogMessage.id }}" class="collapse">
                                                    <div>
                                                        {{ LogMessage.message|safe }}
                                                    </div>
                                                </main>
                                            </div>
                                        {% empty %}
                                            <div class="text-muted mx-auto d-flex justify-content-center align-items-center"
                                                 style="height: 400px">
                                                <i class="mdi mdi-bell-off fa-2x mr-2"></i>
                                                <h1>اعلانی یافت نشد</h1>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if page_active == 'info' %}
                        <div class="ContainerInfo row">
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title text-right">اطلاعات</h4>
                                        <form class="forms-sample" action="{% url 'SupChat:admin_panel_info_update' %}"
                                              method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleInputName1">نام</label>
                                                <input type="text" required minlength="1" maxlength="70"
                                                       value="{{ Admin.user.first_name }}" name="first-name"
                                                       class="form-control" id="exampleInputName1"
                                                       placeholder="نام خود را وارد نمایید">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputName1">نام خانوادگی</label>
                                                <input type="text" required minlength="3" maxlength="70"
                                                       value="{{ Admin.user.last_name }}" name="last-name"
                                                       class="form-control" id="exampleInputName1"
                                                       placeholder="نام خانوادگی خود را وارد نمایید">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail3">آدرس ایمیل</label>
                                                <input type="email" required name="email" value="{{ Admin.user.email }}"
                                                       class="form-control" id="exampleInputEmail3"
                                                       placeholder="ایمیل خود را وارد نمایید">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleSelectGender">جنسیت</label>
                                                <select class="form-control" required name="gender"
                                                        id="exampleSelectGender">
                                                    <option value="male"
                                                            {% if Admin.gender == 'male' %}selected{% endif %}>مرد
                                                    </option>
                                                    <option value="female"
                                                            {% if Admin.gender == 'female' %}selected{% endif %}>زن
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>آپلود عکس</label>
                                                <div class="col-xs-12">
                                                    <input type="file" accept="image/png, image/jpeg" required
                                                           name="picture-person" class="form-control p-2">
                                                </div>
                                            </div>
                                            <div class="text-left">
                                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if page_active == 'section' %}
                        <div class="row">
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex align-items-center align-self-start">
                                                    <h3 class="mb-0">{{ Chats.count }}</h3>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="icon icon-box-info">
                                                    <span class="mdi mdi-chat"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">تعداد چت ها</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex align-items-center align-self-start">
                                                    <h3 class="mb-0">{{ Messages_Unread_Count }}</h3>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="icon icon-box-warning">
                                                    <span class="mdi mdi-message-outline"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">تعداد پیام های دیده نشده</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex align-items-center align-self-start">
                                                    <h3 class="mb-0">{{ Messages_Count }}</h3>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="icon icon-box-success">
                                                    <span class="mdi mdi-message icon-item"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">تعداد کل پیام ها</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h1 class="font-kalame-black">{{ Section.title }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Height-Max-1700 Height-Min-850">
                            <div class="col-12 grid-margin stretch-card order-md-1 order-xl-0">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title text-right">چت ها</h3>
                                        {% include 'Chat/Admin/filter-chats.html' with Filter_by=Filter_by %}
                                        <div class="ChatsSection row" id="ChatsSection">
                                            {% for Chat in Chats %}
                                                {% include 'Chat/Admin/chat-section.html' with Chat=Chat UrlFilterBy=Url_Filter_by %} {% empty %}
                                                <div class="text-muted mx-auto d-flex justify-content-center align-items-center"
                                                     style="height: 400px">
                                                    <i class="mdi mdi-chat-alert fa-2x mr-2"></i>
                                                    <h1>چتی یافت نشد</h1>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if page_active == 'chat' %}
                        <div class="row">
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex align-items-center align-self-start">
                                                    {% if SupChat.config.transfer_chat_is_active and Section.get_admins.count > 1 %}
                                                        <button class="btn btn-outline-light px-4 py-2 mb-3"
                                                                onclick="transferChatToOtherAdmin()">انتقال
                                                            <i class="far fa-arrow-alt-right"></i>
                                                            <i class="fa fa-user"></i>
                                                        </button> {% else %}
                                                        <button class="btn btn-outline-light px-4 py-2 mb-3 disabled"
                                                                style="cursor:not-allowed;">انتقال
                                                        </button> {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="icon icon-box-primary">
                                                    <span class="mdi mdi-account-multiple-plus icon-item"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">انتقال چت</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex align-items-center align-self-start">
                                                    <h3 class="mb-0">{{ Chat.get_count_messages }}</h3>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="icon icon-box-success ">
                                                    <span class="mdi mdi-message icon-item"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">تعداد کل پیام ها</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="d-flex align-items-center align-self-start">
                                                    <h5 class="mb-0">{{ Chat.user.get_full_name }}</h5>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <img style="width: 35px;height: 35px;background: #fff2c7;border-radius: 6px"
                                                     src="{{ Chat.user.get_image }}"
                                                     alt="{{ Chat.user.get_full_name }}">
                                            </div>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">اطلاعات کاربر</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h1 class="font-kalame-black">{{ Section.title }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Height-Max-1000 Height-Min-850">
                            <div class="col-md-12 col-lg-12 col-xl-4 grid-margin stretch-card order-3 order-xl-0">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title text-right">چت ها</h3>
                                        {% include 'Chat/Admin/filter-chats.html' with Filter_by=Filter_by %}
                                        <div class="ChatsSection row" id="ChatsSection">
                                            {% with Chat as ChatBase %} {% for Chat in Chats %}
                                                {% include 'Chat/Admin/chat-section.html' with Chat=Chat UrlFilterBy=Url_Filter_by %}
                                            {% empty %}
                                                <div class="text-muted mx-auto d-flex justify-content-center align-items-center"
                                                     style="height: 400px">
                                                    <i class="mdi mdi-chat-alert fa-2x mr-2"></i>
                                                    <h1>چتی یافت نشد</h1>
                                                </div>
                                            {% endfor %} {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xl-8 grid-margin stretch-card" style="height: 885px">
                                <div class="card">
                                    <div id="SupChat" state="open">
                                        <div id="ContainerBaseSupChat">
                                            <div id="ContainerChatMessagesSupChat" class="ContainerSupChat">
                                                <header id="HeaderSupChat">
                                                    <div class="InfoUserChatHeader">
                                                        <div>
                                                            <h4 class="TitleSupportChat">{{ Chat.user.get_full_name }}</h4>
                                                            <div class="ContainerStatusUser" status="default">
                                                                <p id="StatusUserChat">-</p>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                        <img src="{{ Chat.user.get_image }}"
                                                             alt="{{ Chat.user.get_full_name }}">
                                                    </div>
                                                </header>
                                                <main id="MainSupChat"
                                                      style="background: url('{{ SupChat.style.get_background_chat }}')">
                                                    <div id="MessagesSupChat-{{ Chat.section.id }}"
                                                         class="MessagesSupChat">
                                                        {% for Message in Chat.get_messages_by_admin %}
                                                            {% include 'Chat/Admin/message-chat-for-admin.html' with Message=Message %}
                                                        {% endfor %}
                                                    </div>
                                                </main>
                                                <footer id="FooterSupChat">
                                                    <div id="TextEditedFooterSupChat">
                                                        <p></p>
                                                        <i class="fa fa-times"
                                                           onclick="SUP_CHAT.editMessageTextCanceled()"></i>
                                                    </div>
                                                    <textarea id="InputTextMessageSupChat" type="text"
                                                              placeholder="پیام . . ."></textarea>
                                                    <div id="VoiceIsRecordingSupChat">
                                                        <p class="TitleVoiceIsRecording">
                                                            در حال ضبط صدا ...
                                                        </p>
                                                        <p id="ValueVoiceIsRecordingSupChat">0.0</p>
                                                    </div>
                                                    <div id="VoiceSendOrCancelSupChat" class="col-12">
                                                        <div>
                                                            <p>صدای ضبط شده</p>
                                                            <p id="ValueVoiceIsRecordedSupChat">0.0</p>
                                                        </div>
                                                        <div>
                                                            <button button-cancel-voice-supchat
                                                                    onclick="SUP_CHAT.voiceRecordedCancel()"><i
                                                                    class="fa fa-times"></i></button>
                                                            <button button-send-voice-supchat
                                                                    onclick="SUP_CHAT.sendVoiceRecorded()">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20px"
                                                                     height="20px" viewBox="0 0 32 32">
                                                                    <path d="M27.45,15.11l-22-11a1,1,0,0,0-1.08.12,1,1,0,0,0-.33,1L7,16,4,26.74A1,1,0,0,0,5,28a1,1,0,0,0,.45-.11l22-11a1,1,0,0,0,0-1.78Zm-20.9,10L8.76,17H18V15H8.76L6.55,6.89,24.76,16Z"/>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div id="VoiceInSendingSupChat">
                                                        <p class="TitleVoiceIsRecording">
                                                            در حال ارسال
                                                        </p>
                                                        <div class="VoiceInSendingSupChatLoading"><span></span>
                                                        </div>
                                                    </div>
                                                    <div id="BtnsSendMessageFooterSupChat">
                                                        <button id="ButtonSendMessageTextSupChat">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20px"
                                                                 height="20px" viewBox="0 0 32 32">
                                                                <path d="M27.45,15.11l-22-11a1,1,0,0,0-1.08.12,1,1,0,0,0-.33,1L7,16,4,26.74A1,1,0,0,0,5,28a1,1,0,0,0,.45-.11l22-11a1,1,0,0,0,0-1.78Zm-20.9,10L8.76,17H18V15H8.76L6.55,6.89,24.76,16Z"/>
                                                            </svg>
                                                        </button>
                                                        <button id="ButtonRecordVoiceSupChat">
                                                            <i class="fa fa-microphone-alt"></i>
                                                        </button>
                                                    </div>
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © SupChat 2022 - <a
                            href="http://fazelmomeni.codevar.ir">Fazel Momeni</a></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    {% if page_active == 'chat' %}
        <div id="ContainerAdminsTransfer" class="col-12 col-md-6  offset-0 offset-md-3 ">
            <div class="text-right">
                <i class="fa fa-times" onclick="transferChatToOtherAdmin()"></i>
            </div>
            <div class="content" style="min-height: 90%">
                <div class="text-center mb-5 text-warning col-12 col-md-9 mx-auto">
                    <div class="d-flex justify-content-center align-items-center ">
                        <i class="mdi mdi-account-multiple mx-2"></i>
                        <h2 class="d-inline-block mx-2">لیست ادمین ها</h2>
                    </div>
                    <p class="text-muted text-center">انتقال چت</p>
                </div>
                {% for Admin in Section.get_admins %}
                    {% if Admin.id != request.admin.id %}
                        <button class="AdminSection" onclick="setIDAdminForTransferChat(this,'{{ Admin.id }}')">
                            <img src="{{ Admin.get_image }}" alt="{{ Admin.get_full_name }}">
                            <h5>{{ Admin.get_full_name }}</h5>
                        </button>
                    {% endif %}
                {% endfor %}
                <form action="{% url 'SupChat:admin_transfer_chat' %}" method="post" id="FormTransferChat"
                      class="d-none">
                    {% csrf_token %}
                    <input type="hidden" name="chat-id" value="{{ Chat.id }}">
                    <input type="hidden" name="admin-id">
                </form>
            </div>
            <button id="ButtonTransferChatSubmit">انتقال
            </button>
        </div>
    {% endif %}
{% endblock %}
{% block Js %}
    <script src="{% static 'supchat/admin/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'supchat/jq/jquery.min.js' %}"></script>
    <script src="{% static 'supchat/admin/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'supchat/admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'supchat/admin/js/misc.js' %}"></script>
    <script src="{% static 'supchat/admin/js/dashboard.js' %}"></script>
    <script src="{% static 'supchat/admin/js/admin/index.js' %}"></script>

    {% if page_active == 'chat' %}
        <script>
            window.ID_CHAT = '{{ Chat.id }}'
            window.ID_SECTION = '{{ Chat.section_id }}'
            ScrollToDownContainer(document.querySelector('.MessagesSupChat'))
            let SUP_CHAT = new ChatAdmin(window.ID_SECTION, window.ID_CHAT)
            {% if Filter_by == 'all' %}
                let SUP_CHAT_SECTION = new ChatAdminSection(window.ID_SECTION)
            {% endif %}
        </script>
    {% endif %}
    {% if page_active == 'section' %}
        <script>
            window.ID_SECTION = '{{ Section.id }}'
            {% if Filter_by == 'all' %}
                let SUP_CHAT_SECTION = new ChatAdminSection(window.ID_SECTION)
            {% endif %}
        </script>
    {% endif %}
{% endblock %}